.container {
  display: flex;
  padding: 15px;
  width: 100%;
  max-width: 61.6rem;
  border: 1px solid #B3CDE0;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}
.containerCommandPage{
  display: flex;
  padding: 15px;
}
.title {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #b3cde0;
}
.subTitle {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #e8687c;
}
.conten {
  display: flex;
  flex-direction: column;
  width: 60%; 
  margin-left: 10px;
  justify-content: space-between;
}
.description {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #b3cde0;
  display: -webkit-box;
   -webkit-line-clamp: 6; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.buttonAndSocial {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.containerImg{
  height: 100%;
  width: 40%;
  object-fit: contain;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
}
.containerImgCommandPage{
  height: 100%;
  border-radius: 3px;
}
.contenCommandPage{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
  width: 100%;
}
.img{
  width: 350px;
  height: 350px;
}

