/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* app */
body{
  background: #2B2E4A;
}
/* common for blok */
.commonForBloks{
  width: 100%;
  padding-bottom: 15px;
  max-width: 88.25rem;
  margin: 1rem auto;
  background:radial-gradient(175.59% 73.2% at 0% 0%, rgba(100, 151, 177, 0.09) 0%, rgba(100, 151, 177, 0) 100%), #03396C;
  border: 1px solid #B3CDE0;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}
.forBloksBackground{
  background: radial-gradient(175.59% 73.2% at 0% 0%, rgba(100, 151, 177, 0.33) 0%, rgba(100, 151, 177, 0) 100%), #03396C !important;
}
/* common for blok */
.containerLayout{
  background: #011F4B;
  width: 90rem;
  display: flex;
  border: 1px solid #B3CDE0;
  flex-direction: column;
}
/* icon */
.socialIcon{
  margin: 0 7px;
}